@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/RichEditor.css">
    @RenderSection("stylesheets", required: false)
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div id="root">
        @RenderSection("navigation", required: false)
        <div class="container body-content">
            @RenderBody()
        </div>

        <script src="~/lib/jquery/jquery.js"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
